<div class="container-fluid">
    <div class="row align-items-center">
       <div class="">
         <div class="xs">
          <div class="loginFormCustom px-3 py-2">
             <div class="col-md-12 text-center pb-3">
                <img src="../../../assets/senwell_logo.png" alt="company" class="img-fluid"/>
             </div>
             <div class="col-md-12 border-top pb-1"></div>
             <form > 
                <div class="form-group mt-3 text-center">
              
                   <input type="text" class="form-control text-center" placeholder="User Name"
                   >
                </div>
                <div class="form-group mt-2 text-center">
               
                   <input type="password" class="form-control text-center" placeholder="Password">
                </div>
                <div class="col-md-12 pb-2 pt-2"><span class="divdercustom"></span></div>
                <button id="form__login__btn" type="submit" class="btn btn-primary btn-blueCustom w-100">Login</button>
                <button id="form__forgot__pwd__btn" class="btn btn-secondary mt-2 w-100">Forgot password?</button>
                <button id="google__login__btn" type="button" class="btn btn-orangeCustom mt-2 w-100">
                  <span class="fa fa-google"></span> | Login with Google
                </button>
             </form>
          </div>
        </div>
       </div>
    </div>
  </div>